@page "/editarcliente/{id:int}"

<h3>EditarCliente</h3>

<EditForm Model="@Cliente" OnSubmit="@AtualizarCliente">
    <DataAnnotationsValidator />
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label for="CPF" class="control-label">CPF</label>
                <InputNumber id="cpf" class="form-control" @bind-Value ="@Cliente.Cpf" disabled />                
            </div>
            <div class="form-group">
                <label for="NomeCompleto" class="control-label">Nome Completo</label>
                <InputText id="NomeCompleto" class="form-control" @bind-Value="@Cliente.NomeCompleto" />
                <ValidationMessage For="@(() => Cliente.NomeCompleto)" />
            </div>
            <div class="form-group">
                <label for="Nome" class="control-label">Nome</label>
                <InputText id="Nome" class="form-control" @bind-Value="@Cliente.Nome" />
                <ValidationMessage For="@(() => Cliente.Nome)" />
            </div>
            <div class="form-group">
                <label for="Status" class="control-label">Status</label>
                <InputSelect class="form-control" id="Status" @bind-Value="@Cliente.Ativo">
                    @foreach (var item in Status)
                    {
                        <option value="@item">@item</option>
                    }
                </InputSelect>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="submit" class="btn btn-success" value="Salvar" />
                <input type="button" class="btn btn-outline-danger" @onclick="@Cancela" value="Cancelar" />
            </div>
        </div>
    </div>
</EditForm>

<AlertComponent Model="@Cliente.Alert"></AlertComponent>

