@page "/novaconversa"

<h3>NovaConversa</h3>

<form>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label for="NomeCliente" class="control-label">Nome Cliente</label>
                <ComboxList Bind="@Conversa.NomeCliente"  Itens="@NomesClientes"></ComboxList>                
            </div>
            <div class="form-group">
                <label for="Pergunta" class="control-label">Pergunta</label>
                <input for="Pergunta" class="form-control" @bind="@Conversa.Pergunta" />
            </div>
            <div class="form-group">
                <label for="Resposta" class="control-label">Resposta</label>
                <input for="Resposta" class="form-control" @bind="@Conversa.Resposta" />
            </div>
            <div class="form-group">
                <label for="Status" class="control-label">Status</label>
                <select class="form-control"  for="Status" @bind="@Conversa.Status">
                    @foreach (var item in Status)
                    {
                        <option value="@item.Key">@item.Value</option>
                    }
                </select>
                @*<input for="Preco" class="form-control" @bind="@Conversa.Status" />*@
            </div>            

        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="button" class="btn btn-success" @onclick="@CriaConversa" value="Salvar" />
                <input type="button" class="btn btn-outline-danger" @onclick="@Cancela" value="Cancelar" />
            </div>
        </div>
    </div>
</form>


