@if (this.Cliente != null)
{
    <tr>
        <td>@Cliente.IdCliente</td>
        <td>@Cliente.CPFFormatado</td>
        <td>@Cliente.NomeCompleto</td>
        <td>@Cliente.Nome</td>
        <td>@Cliente.DescricaoAtivo</td>        
    </tr>
}