@if (this.Cliente != null)
{
    <tr>
        <td>@Cliente.IdCliente</td>
        <td>@Cliente.CPFFormatado</td>
        <td>@Cliente.NomeCompleto</td>
        <td>@Cliente.Nome</td>
        <td>@Cliente.Ativo</td>
        <td><a href='/editarcliente/@Cliente.IdCliente'><span class="oi oi-pencil" aria-hidden="true"></span></a></td>
        <td><span class="oi oi-trash" aria-hidden="true"></span></td>
    </tr>
}